/* #fullpage {
    background: linear-gradient(140deg, hsl(14, 73%, 83%), white, rgb(170, 250, 251), rgb(81, 119, 162));
    z-index: -100;
    width: 100vw;
    height: 100vh;
   
    position: relative;
    touch-action: none;
    transform: translate3d(0px, 0px, 0px);
    transition: all 700ms ease 0s;

    background-color: red;
} */

.contents-wrap {
    /* padding-top: 10vh; */
}

.wrap {
    background: linear-gradient(140deg, hsl(14, 73%, 83%), white, rgb(170, 250, 251), rgb(81, 119, 162));
    width: 100vw;
    height: 100vh;
    position: relative;
    touch-action: none;
    /* transform: translate3d(0px, 0px, 0px); */
    transition: all 700ms ease 0s;
}
