
.challenges {position: relative;}
.challenges img {border-radius: 10px;} 
.challenges .swiper {top: 10vh; width: 80vw; height: 30vh;} 
.challenges .swiper-slide {width: 100%; height: 100%; text-align: center; font-size: 18px; display: flex; justify-content: center; align-items: center; border: #000;} 
.challenges .swiper-slide img {width: 100%; height: 100%;} 
.challenges .swiper-scrollbar {color: #fff; background: none;} 
.challenges .swiper-pagination-bullet {width: 40px; height: 3px; border-radius: 0;} 
.challenges .swiper-pagination-bullet-active {width: 80px;} 
.challenges .swiper-button-next.swiper-button-disabled,
.challenges .swiper-button-prev.swiper-button-disabled {opacity: 0;} 
.challenges .swiper-button-next,
.challenges .swiper-button-prev {width: 40px; height: 40px; background-color: #F5F5F5; backdrop-filter: blur(3px); background-size: 18px; background-position: center; background-repeat: no-repeat; z-index: 2; border-radius: 50%; -webkit-transition: 0.4s; transition: 0.4s; position: absolute;} 
.challenges .swiper-button-prev:after,
.challenges .swiper-rtl .swiper-button-next:after,
.challenges .swiper-button-next:after,
.challenges .swiper-rtl .swiper-button-prev:after {display: none;} 
.challenges .swiper-button-next:hover,
.challenges .swiper-button-prev:hover {background-color: #41c0fc; box-shadow: 0 4px 12px #41c0fc;} 
.challenges .swiper-button-prev {background-image: url('../img/arrow_left.jpg'); left: 10px;} 
.challenges .swiper-button-prev:hover {background-image: url('../img/arrow_hover01.jpg')}
.challenges .swiper-button-next {background-image: url('../img/arrow_right.jpg'); right: 10px;} 
.challenges .swiper-button-next:hover {background-image: url('../img/arrow_hover02.jpg')}

/* 출석체크 */
.challenges .attend {top: 13vh; left: 10vw; position: relative; width: 79.5vw; height: 32vh; border-radius: 10px; border-color: rgb(184, 184, 184); border-width: 1px; border-style: solid; text-align: center;} 
.challenges .attend_ph1 {font-size: 20px; padding-top: 4vh;} 
.challenges .attend_ph2 {display: flex; justify-content: center; padding-top: 1vh; font-weight: bold; font-size: 23px; display: flex;}
.challenges .attend_calday {padding-top: 3.5vh; display: flex; justify-content: center;} 
.challenges .attend_calday p {padding: 0 1.3vw;} 
.challenges .attend_caldate {display: flex; justify-content: center;}
.challenges .caldate {text-align: center; background-color: #f0f0f0; width: 2.5vw; height: 5vh; border-radius: 50%; text-align: center; margin: 0.45vw; line-height: 5vh; border-color: #999999; border-style: solid; border-width: 1px;} 
.challenges #caldate_today {text-align: center; background-color: #f0f0f0; width: 2.5vw; height: 5vh; border-radius: 50%; text-align: center; margin: 0.45vw; line-height: 5vh; border-color: #999999; border-style: solid; border-width: 1px;} 
.challenges #attend_button {position: relative; top: 1vh; background-color: rgb(255, 92, 0); border-style: solid; border-width: 0; border-radius: 10px; font-size: 0.9vw; font-weight: 1000; color: #fff; text-align: center; width: 7vw; line-height: 5.5vh; height: 5.5vh; cursor: pointer;} 

/* 추천 챌린지 */
.recommand_challenge {position: relative; width: 79.5vw; top: 15vh; left: 10vw; overflow: hidden; margin-bottom: 9vh;} 
.recommand_challenge .rec_head {display: flex; justify-content: space-between;} 
.recommand_challenge .rec_head_title {font-size: 30px; font-weight: bold; margin-bottom: 20px;} 
.recommand_challenge .rec_more {display: flex; align-items: center; cursor: pointer;} 
.recommand_challenge .rec_more_all {font-size: 15px; color: rgb(133, 133, 133); font-weight: bold;} 
.recommand_challenge .more_left,
.recommand_challenge .more_right {font-size: 20px; font-weight: bold; border: none; cursor: pointer; background: transparent;} 
.recommand_challenge .recommand_list {display: flex; width: 79.5vw; justify-content: space-evenly;} 
.recommand_challenge .chall_main {margin-top: 5px; width: 14.8vw; height: 24vh; border-radius: 10px; flex-wrap: wrap;} 
.recommand_challenge .chall_main img {display: flex; width: 100%; height: 100%;} 
.recommand_challenge .chall_title {font-size: 18px; font-weight: bold; margin-top: 5px;} 
.recommand_challenge .chall_expl {width: 100%; color: #808080; padding-top: 5px; font-size: 15px;} 