/* 챌린지 - 진행중인 챌린지 */
.swiper {
  top: 10vh;
  width: 80vw;
  height: 30vh;
  border-radius: 10px;
}

.swiper-slide {
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border: #000;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
}

.swiper-scrollbar {
  color: #fff;
  background: none;
}

.swiper-pagination-bullet {
  width: 40px;
  height: 3px;
  border-radius: 0;
  background-color: #fff;
}

.swiper-pagination-bullet-active {
  background: #fff;
  width: 80px;
}

.swiper-button-next.swiper-button-disabled
.swiper-button-prev.swiper-button-disabled{
  opacity: 0;
}

.swiper-button-next,.swiper-button-prev {
  width: 40px;
  height: 40px;
  background-color: #F5F5F5;
  backdrop-filter: blur(3px);
  background-size: 18px;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 2;
  border-radius: 50%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  position: absolute;

}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after,
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after{
  display: none;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: #41c0fc;
  box-shadow: 0 4px 12px #41c0fc;
}

.swiper-button-prev{
  background-image: url(../img/arrow_left.jpg);
  left: 10px;
}

.swiper-button-prev:hover{
  background-image: url(../img/arrow_left_hover.jpg)
}

.swiper-button-next{
  background-image: url(../img/arrow_right.jpg);
  right: 10px;
}

.swiper-button-next:hover{
  background-image: url(../img/arrow_right_hover.jpg)
}

img{
  border-radius: 10px;
}

/* 출석체크 */
.attend{
  top: 13vh;
  left: 10vw;
  position: relative;
  width: 79.5vw;
  height: 32vh;
  border-radius: 10px;
  background-color: white;
  border-color: rgb(184, 184, 184);
  border-width: 1px;
  border-style: solid;
  text-align: center;
}

.attend_ph1{
  font-size: 20px;
  padding-top: 4vh;
}

.attend_ph2{
  display: flex;
  justify-content: center;
  padding-top: 1vh;
  font-weight: bold;
  font-size: 23px;
  display: flex;
  
}

.attend_calday{
  padding-top: 3.5vh;
  display: flex;
  justify-content: center;
}

.attend_calday p{
  padding: 0 1.3vw;
}

.attend_caldate{
  display: flex;
  justify-content: center;

}

.caldate{
  text-align: center;
  background-color: #f0f0f0;
  width: 2.5vw;
  height: 5vh;
  border-radius: 50%;
  text-align: center;
  margin: 0.45vw;
  line-height: 5vh;
  border-color: #999999;
  border-style: solid;
  border-width: 1px;
}

#caldate_today{
  text-align: center;
  background-color: #f0f0f0;
  width: 2.5vw;
  height: 5vh;
  border-radius: 50%;
  text-align: center;
  margin: 0.45vw;
  line-height: 5vh;
  border-color: #999999;
  border-style: solid;
  border-width: 1px;
}

#attend_button{
  position: relative;
  top: 1vh;
  background-color: rgb(255, 92, 0);
  border-style: solid;
  border-width: 0;
  border-radius: 10px;
  font-size: 0.9vw;
  font-weight: 1000;
  color: white;
  text-align: center;
  width: 7vw;
  line-height: 5.5vh;
  height: 5.5vh;
}

/* 챌린지 - 추천 챌린지 */
.recommand_challenge{
  position: relative;
  width: 79.5vw;
  top: 15vh;
  left: 10vw;
  overflow: hidden;
  margin-bottom: 9vh;
}

.rec_head{
  display: flex;
  justify-content: space-between;
}

.rec_head_title{
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}

.rec_more{
  display: flex;
}

.rec_more_all{
  font-size: 15px;
  color: rgb(133, 133, 133);
  font-weight: bold;
  margin-top: 20px;
  margin-right: 5px;
}

.more_left,.more_right{
  width: 1.3vw;
  height: 100%;
  font-size: 20px;
  font-weight: bold;
  border: none;
  background-color: white;
  color: black;
  cursor: pointer;
}

.recommand_list{
  display: flex;
  width: 79.5vw;
  justify-content: space-evenly;
}

.chall_main{
  margin-top: 5px;
  width: 14.8vw;
  height: 24vh;
  background-color: grey;
  border-radius: 10px;
  flex-wrap: wrap;
}

.chall_main img {
  display: flex;
  width: 100%;
  height: 100%;
}

.chall_title{
  font-size: 18px;
  font-weight: bold;
  margin-top: 5px;
}

.chall_expl{
  width: 100%;
  color: gray;
  padding-top: 5px;
  font-size: 15px;
  height: 30px;
}