/* 헤더 */
#header {
  background-color: white;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 3;
  left: 0;
  right: 0;
  height: 10vh;
}
.inner-wrap {
  display: flex;
  justify-content: space-between;
  margin-top: 2%;
  align-items: center;
  width: 100%;
}
li {
  float: left;
  margin: 0px 10px 0px;
}
.menu-wrap {
  margin-right: 120px; /* 단위 px로 해야할지? */
}
.logo {
  margin-left: 120px;
}



.line1 {
  text-decoration: underline;
  text-decoration-color: black;
}
.line2 {
  text-decoration: underline;
  text-decoration-color: black;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  width: auto;
  min-height: 100vh;
  background-color: #d4dce4;
  background-size: cover;
  background-position: center;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}
body {
  background-color: white;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}

main {
  width: 100%;
}
footer {
  top: 225vh;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  height: auto;
  width: 100vw;
  font-family: 'Open Sans';
  padding-top: 30px;
  color: black;
}
.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footert-content h5 {
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}
.footer-content p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 30px;
  font-size: 15px;
}
.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}
.socials li {
  margin: 0 10px;
}
.socials a {
  text-decoration: none;
  color: black;
}
.socials a i {
  font-size: 1.1rem;
  transform: color 0.4s ease;
}
.socials a:hover .fa-facebook {
  color: #405c94;
}
.socials a:hover .fa-twitter {
  color: #2094ec;
}
.socials a:hover .fa-instagram {
  color: #fc5da4;
}
.socials a:hover .fa-youtube {
  color: #f60000;
}
.socials a:hover .fa-linkedin-square {
  color: #1064bc;
}
.footer-bottom {
  background: white;
  width: 100vw;
  padding: 20px 0;
  text-align: center;
}
.footer-bottom p {
  font-size: 15px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom span {
  text-transform: uppercase;
  opacity: 0.4;
  font-weight: 200px;
}
.footer .logo1 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}
.main2 {
  background-color: white;
  width: 100vw;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  position: relative;
}
.main3 {
  background-color: white;
  width: 100vw;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  position: relative;
}
.main2 .logo2 {
  left: 10px;
  position: absolute;
}
.main2 .logo3 {
  right: 40px;
  position: absolute;
}
.main3 .logo4 {
  left: 10px;
  position: absolute;
}
.main3 .logo5 {
  right: 30px;
  position: absolute;
}
.underline1 {
  text-decoration: underline;
}

.arrow_wrap {
  display: flex;
}
.arrow_wrap [class*='arrow_0'] {
  display: inline-block;
  width: 3.9rem;
  height: 3.9rem;
  background: url('../img/arrow.png') center no-repeat;
  background-size: 3.9rem auto;
}

[class*='arrow_wrap'] .arrow_02 {
  -webkit-animation: bu01_01 2s 0.5s infinite cubic-bezier(1, -0.015, 0.155, 0.995) alternate;
  animation: bu01_01 2s 0.5s infinite cubic-bezier(1, -0.015, 0.155, 0.995) alternate;
}

@-webkit-keyframes bu01_01 {
  0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }

  100% {
      -webkit-transform: rotate(-180deg);
      transform: rotate(-180deg);
  }
}

@keyframes bu01_01 {
  0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }

  100% {
      -webkit-transform: rotate(-180deg);
      transform: rotate(-180deg);
  }
}

[class*='bu-wrap0'].bu-wrap01 .bu02 {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

[class*='bu-wrap0'].bu-wrap01 .bu03 {
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
  -webkit-animation: bu01_03 2s 1s infinite cubic-bezier(1, -0.015, 0.155, 0.995) alternate;
  animation: bu01_03 2s 1s infinite cubic-bezier(1, -0.015, 0.155, 0.995) alternate;
}

@-webkit-keyframes bu01_03 {
  0% {
      -webkit-transform: rotate(-180deg);
      transform: rotate(-180deg);
  }

  100% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
}

@keyframes bu01_03 {
  0% {
      -webkit-transform: rotate(-180deg);
      transform: rotate(-180deg);
  }

  100% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
}

[class*='bu-wrap0'].bu-wrap01 .bu04 {
  -webkit-transform: rotate(33deg);
  transform: rotate(33deg);
}

[class*='bu-wrap0'].bu-wrap02 .bu01 {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}

[class*='bu-wrap0'].bu-wrap02 .bu02 {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-animation: bu02_01 2s 0.5s infinite cubic-bezier(1, -0.015, 0.155, 0.995) alternate;
  animation: bu02_01 2s 0.5s infinite cubic-bezier(1, -0.015, 0.155, 0.995) alternate;
}

@-webkit-keyframes bu02_01 {
  0% {
      -webkit-transform: rotate(-90deg);
      transform: rotate(-90deg);
  }

  100% {
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg);
  }
}

@keyframes bu02_01 {
  0% {
      -webkit-transform: rotate(-90deg);
      transform: rotate(-90deg);
  }

  100% {
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg);
  }
}

[class*='bu-wrap0'].bu-wrap02 .bu03 {
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

[class*='bu-wrap0'].bu-wrap02 .bu04 {
  -webkit-transform: rotate(33deg);
  transform: rotate(33deg);
  -webkit-animation: bu02_04 2s 1s infinite cubic-bezier(1, -0.015, 0.155, 0.995) alternate;
  animation: bu02_04 2s 1s infinite cubic-bezier(1, -0.015, 0.155, 0.995) alternate;
}

@-webkit-keyframes bu02_04 {
  0% {
      -webkit-transform: rotate(33deg);
      transform: rotate(33deg);
  }

  100% {
      -webkit-transform: rotate(-33deg);
      transform: rotate(-33deg);
  }
}

@keyframes bu02_04 {
  0% {
      -webkit-transform: rotate(33deg);
      transform: rotate(33deg);
  }

  100% {
      -webkit-transform: rotate(-33deg);
      transform: rotate(-33deg);
  }
}
.arrow_03 {
  transform: rotate(180deg);
}

.arrow_wrap .arrow_04 {
  -webkit-transform: rotate(33deg);
  transform: rotate(33deg);
  -webkit-animation: bu02_04 2s 1s infinite cubic-bezier(1, -0.015, 0.155, 0.995) alternate;
  animation: bu02_04 2s 1s infinite cubic-bezier(1, -0.015, 0.155, 0.995) alternate;
}
.round1 {
  right: 2rem;
  bottom: 2rem;
  background-color: #2b62f9;
  width: 5rem;
  height: 5rem;
  border-radius: 100%;
  margin-bottom: 10px;
  right: 5px;
  position: absolute;
}
.round2 {
  right: 2rem;
  bottom: 2rem;
  background-color: #000;
  width: 5rem;
  height: 11rem;
  margin-bottom: 50px;
  border-radius: 9.6rem 9.6rem 0 0;
  position: absolute;
}
.round3 {
  left: 10rem;
  bottom: 5rem;
  background-color: #47c079;
  width: 5rem;
  height: 5rem;
  margin-left: 150px;
  border-radius: 100%;
  position: absolute;
}
.round4 {
  left: 0;
  bottom: 2rem;
  background-color: #748bff;
  width: 10rem;
  height: 5rem;
  border-radius: 0 9.6rem 9.6rem 0;
  position: absolute;
}
.round5 {
  right: 4rem;
  bottom: 4rem;
  background-color: #47c079;
  width: 5rem;
  height: 5rem;
  margin-left: 300px;
  border-radius: 100%;
  position: absolute;
}
.round6 {
  right: 2rem;
  bottom: 2rem;
  background-color: #f9632b;
  width: 5rem;
  height: 5rem;
  margin-right: 100px;
  border-radius: 4rem;
  position: absolute;
}

/* 챌린지 - 진행중인 챌린지 */
.swiper {
  top: 10vh;
  width: 80vw;
  height: 30vh;
  border-radius: 10px;
}

.swiper-slide {
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border: #000;
  /* padding-left: 10%;
  padding-right: 10%; */
}

.swiper-slide img {
  /* display: block; */
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
}

.swiper-scrollbar {
  color: #fff;
  background: none;
}



.swiper-pagination-bullet {
  width: 40px;
  height: 3px;
  border-radius: 0;
  background-color: #fff;
}

.swiper-pagination-bullet-active {
  background: #fff;
  width: 80px;
}

.swiper-button-next.swiper-button-disabled
.swiper-button-prev.swiper-button-disabled{
  opacity: 0;
}

.swiper-button-next,.swiper-button-prev {
  width: 40px;
  height: 40px;
  background-color: #F5F5F5;
  backdrop-filter: blur(3px);
  background-size: 18px;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 2;
  border-radius: 50%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  position: absolute;

}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after,
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after{
  display: none;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: #41c0fc;
  box-shadow: 0 4px 12px #41c0fc;
}

.swiper-button-prev{
  background-image: url(../img/arrow_left.jpg);
  left: 10px;
}

.swiper-button-prev:hover{
  background-image: url(../img/arrow_left_hover.jpg)
}

.swiper-button-next{
  background-image: url(../img/arrow_right.jpg);
  right: 10px;
}

.swiper-button-next:hover{
  background-image: url(../img/arrow_right_hover.jpg)
}

img{
  border-radius: 10px;
}

/* 출석박스 */
.attend{
  top: 13vh;
  left: 10vw;
  position: relative;
  width: 79.5vw;
  height: 32vh;
  border-radius: 10px;
  background-color: white;
  border-color: rgb(184, 184, 184);
  border-width: 1px;
  border-style: solid;
  text-align: center;

}

.attend_ph1{
  font-size: 20px;
  padding-top: 4vh;
}

.attend_ph2{
  display: flex;
  /* width: 20vw; */
  justify-content: center;
  /* justify-content: space-between; */
  padding-top: 1vh;
  font-weight: bold;
  font-size: 23px;
  display: flex;
  
}

.attend_calday{
  padding-top: 3.5vh;
  display: flex;
  justify-content: center;
}

/* .attend_calday {
  display: flex;
} */

.attend_calday p{
  padding: 0 1.3vw;
}

.attend_caldate{
  display: flex;
  /* padding: 10px; */
  justify-content: center;

}

.caldate{
  text-align: center;
  background-color: #f0f0f0;
  width: 2.5vw;
  height: 5vh;
  border-radius: 50%;
  text-align: center;
  margin: 0.45vw;
  line-height: 5vh;
  border-color: #999999;
  border-style: solid;
  border-width: 1px;
}

#caldate_today{
  text-align: center;
  background-color: #f0f0f0;
  width: 2.5vw;
  height: 5vh;
  border-radius: 50%;
  text-align: center;
  margin: 0.45vw;
  line-height: 5vh;
  border-color: #999999;
  border-style: solid;
  border-width: 1px;
}

#attend_button{
  position: relative;
  top: 1vh;
  background-color: rgb(255, 92, 0);
  border-style: solid;
  border-width: 0;
  border-radius: 10px;
  font-size: 0.9vw;
  font-weight: 1000;
  color: white;
  text-align: center;
  width: 7vw;
  line-height: 5.5vh;
  height: 5.5vh;
}

/* 챌린지 - 추천 챌린지 */
.recommand_challenge{
  position: relative;
  width: 79.5vw;
  top: 15vh;
  left: 10vw;
  font-family: 'Pretendard JP',Pretendard,system-ui,-apple-system,BlinkMacSystemFont,Roboto,
  'Helvetica Neue','Segoe UI','Noto Sans KR','Malgun Gothic',sans-serif;
  overflow: hidden;
  margin-bottom: 9vh;
}

.rec_head{
  display: flex;
  justify-content: space-between;
}

.rec_head_title{
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}

.rec_more{
  display: flex;
}

.rec_more_all{
  font-size: 15px;
  color: rgb(133, 133, 133);
  font-weight: bold;
  margin-top: 20px;
  margin-right: 5px;
}

.more_left,.more_right{
  width: 1.3vw;
  height: 100%;
  font-size: 20px;
  font-weight: bold;
  border: none;
  background-color: white;
  color: black;
  cursor: pointer;

}

.recommand_list{
  display: flex;
  width: 79.5vw;
  justify-content: space-evenly;
  

}

.chall_main{
  margin-top: 5px;
  width: 14.8vw;
  height: 24vh;
  /* margin-right: 25px; */
  background-color: grey;
  border-radius: 10px;
  flex-wrap: wrap;
}

.chall_main img {
  display: flex;
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
}

.chall_title{
  font-size: 18px;
  font-weight: bold;
  margin-top: 5px;
}

.chall_expl{
  width: 100%;
  color: gray;
  padding-top: 5px;
  font-size: 15px;
  height: 30px;
}