/* 헤더 */
#header {z-index: 100; width: 100%; font-size: 2rem; font-weight: 800; position: fixed; top: 10vh;} 
#header .inner-wrap {display: flex; justify-content: space-between; width: 100%;} 
#header ul {display: flex;}
#header ul li {margin: 0px 10px 0px;} 

