span.light {
    position: relative;
    display: inline-block;

    &:before {
        position: absolute;
        left: 0;
        top: -10%;
        width: 100%;
        height: 120%;
        background: orange;
        filter: blur(20px);
        content: '';
        opacity: 0;
        animation: flash 0.5s ease-out alternate infinite;
    }
}

@keyframes flash {
    to {
        opacity: 1;
    }
}