/* 반응형 */
@media screen and (max-width: 1470px) {
    .inner-wrap {
        padding: 0 3%;
    }
    .shape-wrap-left,
    .shape-wrap-right {
        transform: scale(0.8);
    }
}

@media screen and (max-width: 1350px) {
    .shape-wrap-left,
    .shape-wrap-right {
        transform: scale(0.7);
    }
}

@media screen and (max-width: 768px) {
    .shppe-wrap-right {
        display: block;
    }

    .menu-wrap {
        display: none !important;
    }

    #header {
        top: 0vh;
        width: 100%;
        background-color: #fff;
        display: block;
        height: 10vh;
        line-height: 10vh;
    }

    #header {
        box-shadow: 0 1.1111111111vw 1.6666666667vw rgba(198, 198, 198, 0.13);
    }

    .logo:after {
        display: none;
    }

    #sun_shape {
        display: none;
    }

    .inner-wrap {
        width: 100%;
        /* padding: 0 8.3333333333vw; */
        /* height: 100%; */
        display: flex;
        flex-direction: center;
    }

    .logoImg {
        width: 13vw;
        height: 10vh;
        object-fit: fill;
        line-height: 10vh;
        top: -6vh;
        position: absolute;
    }

    .txt-google {
        font-size: 0;
    }

    .txt-apple {
        font-size: 0;
    }

    .btn-google {
        width: 48vw !important;
        height: 10vh !important;
        border-radius: 0.0111111111vw;
        border: 0.5555555556vw solid #111;
        text-align: left;
    }

    .btn-apple {
        width: 48vw !important;
        height: 10vh !important;
        border-radius: 0.0111111111vw;
        border: 0.5555555556vw solid #111;
        text-align: left;
    }

    .store_wrap {
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 3rem;
    }
    .store_wrap [class*='btn-']:hover {
        background-color: #000;
        border-color: #000;
        -webkit-box-shadow: 0 3.3333333333vw 8.3333333333vw rgba(116, 139, 255, 0.18);
        box-shadow: 0 3.3333333333vw 8.3333333333vw rgba(116, 139, 255, 0.18);
    }

    .txt-google {
        padding-left: 8.3333333333vw;
        font-size: 1rem !important;
    }

    .txt-apple {
        padding-left: 8.3333333333vw;
        font-size: 1rem !important;
    }

    .btn-google {
        margin-left: 0;
        margin-top: 1.1rem;
    }
    .btn-apple {
        margin-left: 0 !important;
        margin-top: 1.1rem;
    }

    /* .contents_wrap {
        padding: 22.2222222222vw 12.2222222222vw;
    } */

    .contents_wrap {
        width: 100%;
    }
    .title-wrap {
        width: 100%;
    }

    .contents_wrap {
        padding: 0vh 12.2222222222vw 61.9444444444vw;
        margin-top: 10vh;
        display: block;
        max-width: 90vw;
        max-height: 80vh;
    }

    .big_tit01,
    .big_tit02,
    .big_tit03 {
        text-align: left;
    }

    .big_tit01,
    .big_tit02 {
        font-size: 3rem !important;
        line-height: 5.0555555556rem;
        z-index: 100;
    }

    .big_tit03 {
        font-size: 2.5rem !important;
        line-height: 3rem;
        z-index: 100;
    }

    .title-wrap [class*='big-']:after {
        bottom: 0.8333333333vw;
        height: 1.6666666667vw;
    }

    .imgSlide {
        vertical-align: -2.5vw;
        margin: 0 0.5555555556vw 0 0;
        width: 20vw;
        height: 8vh;
    }

    .titleImgSlide {
        transform: translate(-50%, -50%) scale(0.3);
    }

    .shape-wrap-right {
        display: block;
        position: absolute;
        left: 0;
        bottom: 0vw;
        right: 0;
        width: 100%;
    }

    .shape-wrap-right {
        transform: scale(0.5);
    }

    .shape-wrap-left {
        display: none;
    }
    .anibox_bottom2 {
        display: none;
    }

    .shape-ani06 {
        left: 33vw;
        bottom: 0vh;
    }
    .shape-ani07 {
        left: 0.7222222222vw;
        bottom: 0;
        outline: 0.1rem solid rgba(0, 0, 0, 0);
        background-color: #f9632b;
        width: 30.5555555556vw;
        height: 30.5555555556vw;
        border-radius: 100% 100% 0 100%;
        -webkit-animation: random-shape04 3s 1s infinite cubic-bezier(1, -0.015, 0.155, 0.995) alternate;
        animation: random-shape04 3s 1s infinite cubic-bezier(1, -0.015, 0.155, 0.995) alternate;
    }

    .shape-ani08 {
        left: 68.0555555556vw;
        bottom: 0;
        background-color: #748bff;
        width: 30.5555555556vw;
        height: 30.5555555556vw;
        border-radius: 11.1111111111vw;
    }
    .shape-ani09 {
        bottom: 0vh;
    }
}

@media screen and (max-width: 768px) {
    .logoImg {
        display: none;
    }
    .smallLogo {
        display: block !important;
        position: absolute;
        width: 8rem;
        height: 8rem;
        line-height: 8rem;
        object-fit: contain;
        top: 50%;
        /* left: -8vw; */
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
