@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');

:root {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
    cursor: default;
    font-family: 'Pretendard', -apple-system, AppleSDGothicNeo, 'Malgun Gothic', Helvetica, sans-serif;
    font-weight: 400;
    font-size: 62.5%;
    word-break: keep-all;
    color: #000;
}

/* 레이아웃 */
html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    border: 0;
    padding: 0;
    overflow: hidden;
}
.wrap {
    position: relative;
    width: 100%;
}
.down {
    position: fixed;
    bottom: 0vh;
    left: calc(50% - 3.2rem);
    width: 6.4rem;
    height: 6.4rem;
    background: url('../img/down.png') center no-repeat;
    background-size: 4.7rem 4.4rem;
    -webkit-animation: floating 0.6s ease-out infinite alternate both;
    animation: floating 0.6s ease-out infinite alternate both;
    z-index: 1000;
}
.container {
    width: 100%;
    height: 100vh;
}
.container:nth-child(1) {
    background-color: white;
}
.container:nth-child(2) {
    background-color: white;
}
.container:nth-child(3) {
    background-color: white;
}

/* 헤더 */
#header {
    z-index: 100;
    width: 100%;
    font-size: 2rem;
    font-weight: 800;
    position: fixed;
    top: 10vh;
}

.inner-wrap {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

li {
    float: left;
    margin: 0px 10px 0px;
}
.menu-wrap {
    margin-right: 120px;
}
.logo {
    margin-left: 120px;
}

/* ==================================================================================================================================================== */

/* 컨텐츠 - 챌린지 */
.chg_cnt {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #f2f8ff;
}
.chg_cnt .txt_wrap {
    line-height: 1.2;
    font-weight: 700;
}
.chg_cnt .txt_wrap .sub_tit {
    font-size: 20px;
    line-height: 1;
    font-weight: 700;
    letter-spacing: -0.1rem;
}
.chg_cnt .txt_wrap .str_tit {
    display: block;
    margin-top: 40px;
    font-size: 68px;
    line-height: 1.2;
    letter-spacing: -0.4rem;
    font-weight: 800;
}
.chg_cnt .txt_wrap .str_tit span {
    color: #748bff;
}
.chg_cnt .txt_wrap .txt_cnt {
    margin-top: 30px;
    font-size: 18px;
    line-height: 1.6;
    font-weight: 400;
    color: #666;
}

.chg_cnt ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 50%;
    transform: translateY(11.8%);
}

@media screen and (max-width: 1145px) {
    .chg_cnt ul {
        justify-content: center;
        width: 73%;
    }
    .chg_cnt .txt_wrap .str_tit {
        font-size: 56px;
    }
}

@media screen and (max-width: 884px) {
    .chg_cnt {
        flex-direction: column;
    }
    
}

@media screen and (max-width: 768px) {
    .chg_cnt ul {
        width: 100%;
    }
}

@media screen and (max-width: 564px) {
    .chg_cnt ul {
        width: 89%;
    }
    .chg_cnt ul li {
        margin: 0 0 30px 0!important;
    }
}

@media screen and (max-width: 564px) {
    .chg_cnt .txt_wrap .str_tit {
        font-size: 50px;
    }
}

.chg_cnt ul li {
    position: relative;
    padding: 4% 4.2% 3.8%;
    margin: 0 0 0 30px;
    max-width: 245px;
    max-height: 328px;
    border-radius: 20px;
}
.chg_cnt ul li:nth-child(even) {
    margin: 80px 0 0 30px;
}
.chg_cnt ul li:nth-child(1) {
    background-color: #758aff;
}
.chg_cnt ul li:nth-child(2) {
    background-color: #ffda64;
}
.chg_cnt ul li:nth-child(3) {
    margin-top: -55px;
    background-color: #61c9ac;
}
.chg_cnt ul li:nth-child(4) {
    margin-top: 25px;
    background-color: #b8afff;
}
.chg_cnt ul li div {
    font-weight: 500;
}
.chg_cnt ul li:hover {
    transform: scale(1.05) !important;
    transition: all 0.3s !important;
}
.chg_cnt ul li div p {
    margin-top: 15px;
}
.chg_cnt ul li div img {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
}
.chg_cnt ul li div strong {
    display: flex;
    align-items: center;
    margin: 15px 0;
    font-size: 24px;
    font-weight: 900;
}
.chg_cnt ul li div strong span {
    font-size: 18px;
    font-weight: 600;
    color: #000;
}
.chg_cnt ul li div strong i {
    display: flex;
}
.chg_cnt ul li div strong i.coin:after {
    content: '';
    display: inline-block;
    margin: 0 2px;
    width: 25px;
    height: 25px;
    background: url('../img/coin.png') center center/100% no-repeat;
}

/* fullpage */
#fp-nav.fp-right {right: 50px !important;}
#fp-nav ul, .fp-slidesNav ul {display: flex; flex-direction: column;}



