@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');

/* 레이아웃 - 스크롤 */
html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    border: 0;
    padding: 0;
    overflow: hidden;
}
.wrap {
    position: relative;
    width: 100%;
}
.down {
    position: fixed;
    bottom: 0vh;
    left: calc(50% - 3.2rem);
    width: 6.4rem;
    height: 6.4rem;
    background: url('../img/down.png') center no-repeat;
    background-size: 4.7rem 4.4rem;
    -webkit-animation: floating 0.6s ease-out infinite alternate both;
    animation: floating 0.6s ease-out infinite alternate both;
    z-index: 1000;
}
.container {
    width: 100%;
    height: 100vh;
}
.container:nth-child(1) {
    background-color: white;
}
.container:nth-child(2) {
    background-color: white;
}
.container:nth-child(3) {
    background-color: white;
}

/* 헤더 */
#header {
    /* display: block;
    position: fixed; */
    z-index: 100;
    width: 100%;
    font-size: 2rem;
    font-weight: 800;
    /* z-index: 3;
    left: 0;
    right: 0; */
    /* height: 10rem; */
    /* background-color: #fff; */
    position: fixed;
    top: 10vh;
}

.inner-wrap {
    display: flex;
    justify-content: space-between;
    /* margin-top: 2%; */

    width: 100%;
}

li {
    float: left;
    margin: 0px 10px 0px;
}
.menu-wrap {
    margin-right: 120px; /* 단위 px로 해야할지? */
}
.logo {
    margin-left: 120px;
}

/* 메인 */

/* .sunshine {position: absolute;width: 50px;height: 50px;background: linear-gradient(    120deg,    rgb(240, 215, 72),    yellow,    white,    rgb(240, 215, 72),    yellow,    white,    rgb(240, 215, 72),    yellow,    white,    rgb(240, 215, 72),    yellow,    white); opacity: 0.35; display: inline-block; border-color: yellow; border-radius: 20px 20px 20px 0px;} */

.google {
    margin-right: 1vw;
    width: 15vw;
    height: 10vh;
    border: 3px solid;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    border-radius: 30px;
    line-height: 70px;
}
.googleImg {
    width: 2.5vw;
    height: 4vh;
    position: relative;
    top: 9px;
}
.google:hover {
    background-color: black;
    color: white;
}
.apple {
    margin-left: 1vw;
    width: 15vw;
    /* height: 10vh; */
    border: 3px solid;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    border-radius: 30px;
    line-height: 70px;
}
.appleImg {
    width: 3vw;
    height: 5vh;
    position: relative;
    top: 9px;
}
.apple:hover {
    background-color: black;
    color: white;
}

/* ==================================================================================================================================================== */

/* 컨텐츠 - 챌린지 */
.chg_cnt {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #f2f8ff;
    font-family: Pretendard;
}
.chg_cnt .txt_wrap {
    line-height: 1.2;
    font-weight: 700;
}
.chg_cnt .txt_wrap .sub_tit {
    font-size: 20px;
    line-height: 1;
    font-weight: 700;
    letter-spacing: -0.1rem;
}
.chg_cnt .txt_wrap .str_tit {
    display: block;
    margin-top: 40px;
    font-size: 68px;
    line-height: 1.2;
    letter-spacing: -0.4rem;
    font-weight: 800;
}
.chg_cnt .txt_wrap .str_tit span {
    color: #748bff;
}
.chg_cnt .txt_wrap .txt_cnt {
    margin-top: 30px;
    font-size: 18px;
    line-height: 1.6;
    font-weight: 400;
    color: #666;
}

.chg_cnt ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 50%;
    transform: translateY(11.8%);
}

@media screen and (max-width: 1145px) {
    .chg_cnt ul {
        justify-content: center;
        width: 73%;
    }
    .chg_cnt .txt_wrap .str_tit {
        font-size: 56px;
    }
}

@media screen and (max-width: 884px) {
    .chg_cnt {
        flex-direction: column;
    }
    
}

@media screen and (max-width: 768px) {
    .chg_cnt ul {
        width: 100%;
    }
}

@media screen and (max-width: 564px) {
    .chg_cnt ul {
        width: 89%;
    }
    .chg_cnt ul li {
        margin: 0 0 30px 0!important;
    }
}

@media screen and (max-width: 564px) {
    .chg_cnt .txt_wrap .str_tit {
        font-size: 50px;
    }
}



.chg_cnt ul li {
    position: relative;
    padding: 4% 4.2% 3.8%;
    margin: 0 0 0 30px;
    max-width: 245px;
    max-height: 328px;
    border-radius: 20px;
}
.chg_cnt ul li:nth-child(even) {
    margin: 80px 0 0 30px;
}
.chg_cnt ul li:nth-child(1) {
    background-color: #758aff;
}
.chg_cnt ul li:nth-child(2) {
    background-color: #ffda64;
}
.chg_cnt ul li:nth-child(3) {
    margin-top: -55px;
    background-color: #61c9ac;
}
.chg_cnt ul li:nth-child(4) {
    margin-top: 25px;
    background-color: #b8afff;
}
.chg_cnt ul li div {
    font-weight: 500;
}
.chg_cnt ul li:hover {
    transform: scale(1.05) !important;
    transition: all 0.3s !important;
}
.chg_cnt ul li div p {
    margin-top: 15px;
}
.chg_cnt ul li div img {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
}
.chg_cnt ul li div strong {
    display: flex;
    align-items: center;
    margin: 15px 0;
    font-size: 24px;
    font-weight: 900;
}
.chg_cnt ul li div strong span {
    font-size: 18px;
    font-weight: 600;
    color: #000;
}
.chg_cnt ul li div strong i {
    display: flex;
}
.chg_cnt ul li div strong i.coin:after {
    content: '';
    display: inline-block;
    margin: 0 2px;
    width: 25px;
    height: 25px;
    background: url('../img/coin.png') center center/100% no-repeat;
}

/* fullpage */
#fp-nav.fp-right {right: 50px !important;}
#fp-nav ul, .fp-slidesNav ul {display: flex; flex-direction: column;}

/* 푸터 */
container {
    display: flex;
    justify-content: space-between;
}
.size1 {
    font-size: 20px;
    font-family: 'Rubik', sans-serif;
}

.top_footer {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.item {
    /* width: 400px; */
    /* height: 200px; */
    /* padding: 70px; */
    /* margin: 150px; */
    text-align: center;
    border-radius: 5%;
    /* background-color: #f4fcfc; */
}
.item2 {
    /* width: 400px; */
    /* height: 200px; */
    /* padding: 70px; */
    /* margin: 150px; */
    text-align: center;
    border-radius: 5%;
}
span:not(.txt) {
    color: #8e9fe3;
}
/* not 선택자 추가 */

.line1 {
    text-decoration: underline;
    text-decoration-color: black;
}
.line2 {
    text-decoration: underline;
    text-decoration-color: black;
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

main {
    width: 100%;
}
footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    height: auto;
    width: 100vw;
    font-family: 'Open Sans';
    padding-top: 30px;
    color: black;
}
.footer-content {
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footert-content h5 {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.socials li {
    margin: 0 10px;
}
.socials a {
    text-decoration: none;
    color: black;
}
.socials a i {
    font-size: 2.1rem;
    transform: color 0.4s ease;
}
.socials a:hover .fa-facebook {
    color: #405c94;
}
.socials a:hover .fa-twitter {
    color: #2094ec;
}
.socials a:hover .fa-instagram {
    color: #fc5da4;
}
.socials a:hover .fa-youtube {
    color: #f60000;
}
.socials a:hover .fa-linkedin-square {
    color: #1064bc;
}

.main2 {
    padding: 40px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.main2 .point_info {
    font-weight: 700;
}
.main3 {
    padding-top: 40px;
    border-top: 0.1rem solid #e1e6ec;;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    line-height: 2;
}
.main3 .info {
    text-align: left;
}
.main3 .copyright {
    text-align: right;
}
.main2 .logo2 {
    left: 10px;
    position: absolute;
}
.main2 .logo3 {
    right: 40px;
    position: absolute;
}
.main3 .logo4 {
    left: 10px;
    position: absolute;
}
.main3 .logo5 {
    right: 30px;
    position: absolute;
}
.underline1 {
    text-decoration: underline;
}

.arrow_wrap {
    display: flex;
}
.arrow_wrap [class*='arrow_0'] {
    display: inline-block;
    width: 2.9rem;
    height: 2.9rem;
    background: url('../img/arrow.png') center no-repeat;
    background-size: 2.9rem auto;
    margin-left: 20px;
}
.arrow_wrap [class*='arrow_0']:first-of-type {
    margin-left: 0;
}

[class*='arrow_wrap'] .arrow_02 {
    -webkit-animation: bu01_01 2s 0.5s infinite cubic-bezier(1, -0.015, 0.155, 0.995) alternate;
    animation: bu01_01 2s 0.5s infinite cubic-bezier(1, -0.015, 0.155, 0.995) alternate;
}

@-webkit-keyframes bu01_01 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(-180deg);
        transform: rotate(-180deg);
    }
}

@keyframes bu01_01 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(-180deg);
        transform: rotate(-180deg);
    }
}

[class*='bu-wrap0'].bu-wrap01 .bu02 {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

[class*='bu-wrap0'].bu-wrap01 .bu03 {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
    -webkit-animation: bu01_03 2s 1s infinite cubic-bezier(1, -0.015, 0.155, 0.995) alternate;
    animation: bu01_03 2s 1s infinite cubic-bezier(1, -0.015, 0.155, 0.995) alternate;
}

@-webkit-keyframes bu01_03 {
    0% {
        -webkit-transform: rotate(-180deg);
        transform: rotate(-180deg);
    }

    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

@keyframes bu01_03 {
    0% {
        -webkit-transform: rotate(-180deg);
        transform: rotate(-180deg);
    }

    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

[class*='bu-wrap0'].bu-wrap01 .bu04 {
    -webkit-transform: rotate(33deg);
    transform: rotate(33deg);
}

[class*='bu-wrap0'].bu-wrap02 .bu01 {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

[class*='bu-wrap0'].bu-wrap02 .bu02 {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-animation: bu02_01 2s 0.5s infinite cubic-bezier(1, -0.015, 0.155, 0.995) alternate;
    animation: bu02_01 2s 0.5s infinite cubic-bezier(1, -0.015, 0.155, 0.995) alternate;
}

@-webkit-keyframes bu02_01 {
    0% {
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }

    100% {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}

@keyframes bu02_01 {
    0% {
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }

    100% {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}

[class*='bu-wrap0'].bu-wrap02 .bu03 {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

[class*='bu-wrap0'].bu-wrap02 .bu04 {
    -webkit-transform: rotate(33deg);
    transform: rotate(33deg);
    -webkit-animation: bu02_04 2s 1s infinite cubic-bezier(1, -0.015, 0.155, 0.995) alternate;
    animation: bu02_04 2s 1s infinite cubic-bezier(1, -0.015, 0.155, 0.995) alternate;
}

@-webkit-keyframes bu02_04 {
    0% {
        -webkit-transform: rotate(33deg);
        transform: rotate(33deg);
    }

    100% {
        -webkit-transform: rotate(-33deg);
        transform: rotate(-33deg);
    }
}

@keyframes bu02_04 {
    0% {
        -webkit-transform: rotate(33deg);
        transform: rotate(33deg);
    }

    100% {
        -webkit-transform: rotate(-33deg);
        transform: rotate(-33deg);
    }
}
.arrow_03 {
    transform: rotate(180deg);
}

.arrow_wrap .arrow_04 {
    -webkit-transform: rotate(33deg);
    transform: rotate(33deg);
    -webkit-animation: bu02_04 2s 1s infinite cubic-bezier(1, -0.015, 0.155, 0.995) alternate;
    animation: bu02_04 2s 1s infinite cubic-bezier(1, -0.015, 0.155, 0.995) alternate;
}
.round_wrap {
    position: absolute;
    width: 100%;
    z-index: -1;
    top: 0;
}
.round1 {
    top: 0;
    right: 2rem;
    bottom: 2rem;
    background-color: #2b62f9;
    width: 5rem;
    height: 5rem;
    border-radius: 100%;
    margin-bottom: 10px;
    position: absolute;
}
.round2 {
    right: 2rem;
    bottom: 2rem;
    background-color: #000;
    width: 5rem;
    height: 11rem;
    margin-bottom: 50px;
    border-radius: 9.6rem 9.6rem 0 0;
    position: absolute;
}
.round3 {
    left: 10rem;
    bottom: 5rem;
    background-color: #47c079;
    width: 5rem;
    height: 5rem;
    margin-left: 150px;
    border-radius: 100%;
    position: absolute;
}
.round4 {
    left: 0;
    bottom: 2rem;
    background-color: #748bff;
    width: 10rem;
    height: 5rem;
    border-radius: 0 9.6rem 9.6rem 0;
    position: absolute;
}
.round5 {
    right: 4rem;
    bottom: 4rem;
    background-color: #47c079;
    width: 5rem;
    height: 5rem;
    margin-left: 300px;
    border-radius: 100%;
    position: absolute;
}
.round6 {
    right: 2rem;
    bottom: 2rem;
    background-color: #f9632b;
    width: 5rem;
    height: 5rem;
    margin-right: 100px;
    border-radius: 4rem;
    position: absolute;
}
:root {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
    cursor: default;
    font-family: 'Pretendard', -apple-system, AppleSDGothicNeo, 'Malgun Gothic', Helvetica, sans-serif;
    font-weight: 400;
    font-size: 62.5%;
    word-break: keep-all;
    color: #000;
}

.footer_wrap .shape-wrap-right {
    position: absolute;
    right: 0;
    bottom: 0
}

.footer_wrap .shape-wrap-right [class*=shape-] {
    position: absolute;
    display: block;
    overflow: hidden
}

.footer_wrap .shape-wrap-right .shape-ani01 {
    right: 0;
    bottom: 0;
    background-color: #748bff;
    width: 22rem;
    height: 11rem;
    border-radius: 0 9.6rem 9.6rem 0
}

.footer_wrap .shape-wrap-right .shape-ani02 {
    right: 0;
    bottom: 11rem;
    background-color: #4b5c72;
    width: 11rem;
    height: 11rem;
    border-radius: 9.6rem 0 0 9.6rem
}

.footer_wrap .shape-wrap-right .shape-ani03 {
    right: 11rem;
    bottom: 11rem;
    background-color: #f9632b;
    width: 11rem;
    height: 11rem;
    border-radius: 4rem
}

.footer_wrap .shape-wrap-right .shape-ani04 {
    right: 0;
    bottom: 22rem;
    background-color: #000;
    width: 11rem;
    height: 25.4rem;
    border-radius: 9.6rem 9.6rem 0 0
}

.footer_wrap .shape-wrap-right .shape-ani05 {
    right: 11rem;
    bottom: 22rem;
    background-color: #47c079;
    width: 11rem;
    height: 11rem;
    border-radius: 100%
}

.footer_wrap .shape-wrap-right .shape-ani06 {
    right: 0;
    bottom: 60rem;
    background-color: #2b62f9;
    width: 11rem;
    height: 11rem;
    border-radius: 100%
}


@media(max-width: 1680px) {
    .footer_wrap .shape-wrap-left .shape-ani02 {
        display: none
    }
}

@media(max-width: 1470px) {
    .footer_wrap .shape-wrap-left,.footer_wrap .shape-wrap-right {
        -webkit-transform: scale(0.9);
        transform: scale(0.9)
    }
}

@media(max-width: 1430px) {
    .footer_wrap .shape-wrap-left,.footer_wrap .shape-wrap-right {
        display:none
    }
}

/* 챌린지 - 진행중인 챌린지 */
.swiper{
    top: 10vh;
    width: 60vw;
    height: 40vh;
    background-color: #eee;
}

.swiper-pagination-bullet{
    width: 40px;
    height: 3px;
    border-radius: 0;
    background-color: #fff;
}

.swiper-pagination-bullet-active{
    background-color: #fff;
    width: 80px;
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled{
    opacity: 0;
}

img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
