/* 헤더 구조, 스타일링, 애니메이션 추가 */
* {
    text-size-adjust: 100%;
    cursor: default;
    font-family: 'Pretendard', -apple-system, AppleSDGothicNeo, 'Malgun Gothic', Helvetica, sans-serif;
    font-weight: 400;
    font-size: 62.5%;
    word-break: keep-all;
    color: #000;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
}

#header {
    box-sizing: content-box;
    position: fixed;
    top: 0px;
    height: 10vh;
    z-index: 199;
    width: 100%;
    text-align: center;
    line-height: 10vh;
    background-color: white;
}

li {
    float: left;
    margin: 0em 1.5em 0em;
}
.inner-wrap {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.menu-list {
    float: left;
    list-style-type: none;
    font-size: 0.8em;
    font-weight: 800;
}

.menu2 {
    margin: 0em -2em 0em;
}

.myPageLogoImege {
    border-radius: 100%;
    object-fit: cover;
    width: 2em;
    height: 2em;
    cursor: pointer;
    border: 0.2em solid gray;
}

.myPageAndMenu {
    padding-left: 10vw;
}

.logo {
    font-size: 1em;
    font-weight: 800;
}

span.light {
    position: relative;
    display: inline-block;

    &:before {
        position: absolute;
        left: 0;
        top: -10%;
        width: 100%;
        height: 120%;
        background: orange;
        filter: blur(45px);
        content: '';
        opacity: 0;
        animation: flash 0.5s ease-out alternate infinite;
    }
}

.light {
    color: black !important;
}
@keyframes flash {
    to {
        opacity: 0.5;
    }
}

.myPage {
    cursor: pointer;
    width: 6vw;
    height: 6vh;
    line-height: 6vh;
    vertical-align: middle;
}

@media screen and (max-width: 780px) {
    #header {
        top: 0vh;
        width: 100%;
        height: 10vh;
        background-color: #fff;
        display: block;
        line-height: 10vh;
    }

    #header {
        box-shadow: 0 1.1111111111vw 1.6666666667vw rgba(198, 198, 198, 0.13);
    }

    .inner-wrap {
        width: 100vw;
        display: flex;
        justify-content: space-around;
        white-space: nowrap;
        align-items: center;
    }

    li {
        display: none;
    }
    .myPageLogoImege {
        vertical-align: middle;
        line-height: 10vh;
    }
    .button {
        font-size: 1.5em;
        font-weight: 900;
        width: 18em;
        height: 4em;
        margin-left: 0.4em;
        margin: 0.3em 0em;
        border: 0.3em outset gold;
    }

    .wrap1_box {
        margin-top: 3em;
        width: 65vw;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .shine {
        font-size: 5em;
        margin-top: 5em;
        font-weight: 900;
        width: 35em;
        height: 4em;
        margin-left: 1.5em;
        border-radius: 40em 0em 40em 0em;
        line-height: 4em;
        text-align: center;
        color: orangered;
        background: linear-gradient(white, yellow, gold, orange);
    }
}
/* ---------------------------page----------------------------- */
.sub_full_wrap {
    overflow-y: scroll;
    position: relative;
}
/* ------------------------sec0 -------------------------- */
.sec0-miracle_mornig {
    margin-top: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main_img {
    width: 40em;
    height: 40em;
    object-fit: cover;
    border-radius: 50%;
    border: 2em solid transparent;
    background-image: linear-gradient(#444444, #444444),
        linear-gradient(to right, hsla(61, 99%, 69%, 0.745), hsla(314, 96%, 68%, 0.667), hsla(197, 95%, 62%, 0.667));
    background-origin: border-box;
    background-clip: content-box, border-box;
}
.challenge_title {
    text-align: center;
    font-weight: 700;
    font-size: 4em;
    margin-top: 2em;
    margin-bottom: 2em;
    display: block;
}
.miraclemorning_txt {
    text-decoration: underline;
    color: black !important;
    white-space: nowrap;
}

.wrap1_box {
    margin-top: 3em;
    width: 65vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.button:hover {
    background-color: orangered;
    opacity: 0.8;
    border-color: white;
    color: white;
    -webkit-box-shadow: 0 3.3333333333vw 8.3333333333vw rgba(116, 139, 255, 0.18);
    box-shadow: 0 3.3333333333vw 8.3333333333vw rgba(116, 139, 255, 0.18);
}

.button {
    font-size: 1.5em;
    font-weight: 900;
    width: 16em;
    height: 5em;
    margin-left: 0.4em;
    margin: 0.3em 0em;
    border: 0.3em outset gold;
    line-height: 5em;
    text-align: center;
    background-color: orange;
    border-radius: 1em;
}


.shine {
    font-size: 1.5em;
    font-weight: 900;
    width: 35em;
    height: 4em;
    margin-left: 1.5em;
    /* border-radius: 40px; */
    border-radius: 40em 0em 40em 0em;
    line-height: 4em;
    text-align: center;
    color: orangered;
    background: linear-gradient(white, yellow, gold, orange);
}

.shine:hover {
    background-color: orangered;
    opacity: 0.7;
    border-color: white;
    color: white;
    -webkit-box-shadow: 0 3.3333333333vw 8.3333333333vw rgba(116, 139, 255, 0.18);
    box-shadow: 0 3.3333333333vw 8.3333333333vw rgba(116, 139, 255, 0.18);
}
/* -----------------------sec1-----------------------  */
.sec1 {
    width: 100vw;
    height: auto;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* overflow: hidden; */
    /* flex-wrap: wrap; */
}

hr {
    margin-top: 5em;
    margin: 15em 15em;
}
.blockquote_wrap:before {
    content: '\201C';
    font-size: 3em;
    font-family: Georgia;
    color: gray;
    margin-top: 0.2em;
}

.blockquote_wrap:after {
    display: block;
    margin-top: 0.5em;
    content: '\201C';
    font-size: 3em;
    font-family: Georgia;
    color: gray;
}
.blockquote_wrap {
    background: linear-gradient(orange, #f5d79e, #ebeb91, #c1bfbf, skyblue);
    width: 20em;
    height: 20em;
    border-radius: 3em;
    text-align: center;
    position: relative;
    font-weight: 600;
    font-size: 2em;
    opacity: 0.8;
    display: block;
    clear: both;
}

blockquote {
    margin-top: 1em;
    line-height: 1em;
}

.guide_wrap {
    width: 65vw;
}

.txt {
    line-height: 2em;
    font-size: 2em;
    font-weight: 500;
}

.subject {
    margin-top: 2em;
    font-size: 2.5em;
    margin-bottom: 1em;
    font-weight: 900;
    text-decoration: underline;
    box-sizing: border-box;
    text-align: center;
    line-height: 1.5em;
}

.proofImg {
    width: 65vw;
    height: 50vh;
    border-radius: 5em;
    border: 0.3em solid orange;
}

.step1 {
    font-size: 2.3em;
    font-weight: 600;
    margin-top: 1em;
    margin-bottom: 1em;
    color: gray;
}

.step2 {
    font-size: 2.3em;
    font-weight: 600;
    margin-top: 1em;
    margin-bottom: 1em;
    color: gray;
}

/* ------------------------animation------------------------ */
.main_img:hover {
    /* 마우스 호버시 나타나는 색상 */
    color: orangered;

    /*속도조절 */
    -webkit-mask-image: linear-gradient(-75deg, rgba(0, 0, 0, 0.3) 30%, #000 50%, rgba(0, 0, 0, 0.3) 70%);
    -webkit-mask-size: 200%;
    animation: shine 5s infinite;
}
@-webkit-keyframes shine {
    from {
        -webkit-mask-position: 150%;
    }
    to {
        -webkit-mask-position: -50%;
    }
}

.mornig_activity:hover {
    /* 마우스 호버시 나타나는 색상 */
    color: orangered;

    /*속도조절 */
    -webkit-mask-image: linear-gradient(-75deg, rgba(0, 0, 0, 0.3) 30%, #000 50%, rgba(0, 0, 0, 0.3) 70%);
    -webkit-mask-size: 200%;
    animation: shine 5s infinite;
}
@-webkit-keyframes shine {
    from {
        -webkit-mask-position: 150%;
    }
    to {
        -webkit-mask-position: -50%;
    }
}
.recomend_wrap {
    margin-top: 10em;
    padding-left: 30em;
    padding-right: 30em;
    height: 80%;
    background: linear-gradient(white, orange, white);
    margin-bottom: 20em;
    /* 푸터랑 합칠 시 제거 고려? */
}
#recomend_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3em;
    border-radius: 1em;
}

.mornig_activity {
    width: 8em;
    height: 4em;
    background: linear-gradient(orange, black, orange);
    line-height: 3.5em;
    text-align: center;
    font-weight: 900;
    border-radius: 3em;
    flex-grow: 0;
    border-style: double;
    border-width: 0.3em;
    border-color: white;
    color: white;
}

@media screen and (max-width: 1200px) {
    .recomend_wrap {
        margin-top: 10em;
        padding-left: 10em;
        padding-right: 10em;
        height: 80%;
        background: linear-gradient(white, orange, white);
        margin-bottom: 20em;
        /* 푸터랑 합칠 시 제거 고려? */
    }
}

@media screen and (max-width: 580px) {
    .recomend_wrap {
        margin-top: 10em;
        padding-left: 0em;
        padding-right: 0em;
        height: 80%;
        background: linear-gradient(white, orange, white);
        margin-bottom: 20em;
        /* 푸터랑 합칠 시 제거 고려? */
    }
}

@media screen and (max-width: 390px) {
    .recomend_wrap {
        margin-top: 10em;
        padding-left: 0em;
        padding-right: 0em;
        /* 푸터랑 합칠 시 제거 고려? */
    }

    #recomend_box {
        display: flex;
        justify-content: center;
        border-radius: 1em;
    }

    .mornig_activity {
        width: 6em;
        height: 3em;
        background: linear-gradient(orange, black, orange);
        line-height: 3em;
        text-align: center;
        font-weight: 500;
        font-size: 1em;
        border-radius: 2em;
        flex-grow: 0;
        border-style: double;
        border-width: 0.2em;
        border-color: white;
        color: white;
        /* margin: 0em -3em 0em; */
    }
}

@media screen and (max-width: 300px) {
    .mornig_activity {
        font-size: 0.5em;
        margin: 0em -0.5em 0em;
    }
}
