.title-cloud {
    width: 50px;
    height: 50px;
}

.title {
    /* title 크기 바뀐만큼 container1 사이즈 조절하기 */
    margin-top: 22%; 
    display: flex;
    justify-content: center;
}

.store-wrap {
    display: flex;
    justify-content: center;
    margin-top: 30vh;
}

.google {
    margin-right: 30px;
}

.apple {
    margin-left: 30px;
}
