/* .sunshine {
    background: linear-gradient(
        120deg,
        rgb(240, 215, 72),
        yellow,
        white,
        rgb(240, 215, 72),
        yellow,
        white,
        rgb(240, 215, 72),
        yellow,
        white,
        rgb(240, 215, 72),
        yellow,
        white
    );
    opacity: 0.35;
    display: inline-block;
    border-color: yellow;
    border-radius: 20px 20px 20px 0px;
} */
.contents-wrap {
    position: relative;
}
.title {
    padding: 100px;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-weight: 900;
    text-align: center;
}
.big-tit01 {
    font-size: 5rem;
    text-decoration: underline;
    word-spacing: -6px;
}
.big-tit02 {
    font-size: 5rem;
    text-decoration: underline;
    word-spacing: -5px;
}
.big-tit03 {
    font-size: 2.5rem;
    word-spacing: -5px;
    /* title 크기 바뀐만큼 container1 사이즈 조절하기 - 수정된 길이 16.3% */
    top: 5vh;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: relative;
}

.store-wrap {
    justify-content: center;
    display: flex;
    font-size: 10px;
    /* 부모요소 폰트 사이즈 지정 */
    position: relative;
    bottom: -20vh;
}
@media screen and(max-width:965px) {
    .store-wrap {
        font-size: 1em;
    }
}

.google {
    margin-right: 1vw;
    width: 15vw;
    height: 10vh;
    border: 0.12em solid;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    border-radius: 20px;
    line-height: 10vh;
    display: flex;
    color: black;
    justify-content: center;
}
.googleImg {
    width: 2.5vw;
    height: 5vh;
    position: relative;
    top: 2.5vh;
}

.google:hover {
    background-color: black;
    color: white;
}
.apple {
    margin-right: 0vw;
    width: 15vw;
    height: 10vh;
    border: 0.12em solid;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    border-radius: 20px;
    line-height: 10vh;
    display: flex;
    justify-content: center;
    color: black;
}
.appleImg {
    width: 2.5vw;
    height: 4vh;
    position: relative;
    top: 1em;
}

.apple:hover {
    background-color: black;
    color: white;
}

/* 화살표 */
.downImg {
    width: 5vw;
    height: 6vh;
    position: fixed;
    object-fit: fill;
    top: 70vh;
    left: 46.5vw;
}
