.contents-wrap {
    position: relative;
    align-items: center;
    display: flex;
    width: 100%;
    justify-content: center;
    top: 12rem;
}
.title {
    font-size: 7.9rem;
    line-height: 11.2rem;
    font-weight: 800;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.big-tit01 {
    font-size: 7.9rem;
    text-decoration: underline;
    word-spacing: -6px;
}
.big-tit02 {
    font-size: 7.9rem;
    text-decoration: underline;
    word-spacing: -5px;
    text-align: center;
}
.big-tit03 {
    opacity: 0.9;
    margin-top: 4.7rem;
    font-size: 3.7rem;
    line-height: 5.3rem;
    font-weight: 800;
    text-align: center;
}

.store-wrap {
    z-index: 100;
    justify-content: center;
    display: flex;
    font-size: 10px;
    position: relative;
    margin-top: 8rem;
}

.store-wrap [class*='btn-'] {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 23rem;
    height: 7.5rem;
    border-radius: 2.8rem;
    border: 0.3rem solid #111;
    background-color: #fff;
}

.store-wrap [class*='btn-']:hover {
    background-color: #000;
    border-color: #000;
    -webkit-box-shadow: 0 1.2rem 3rem rgba(116, 139, 255, 0.18);
    box-shadow: 0 1.2rem 3rem rgba(116, 139, 255, 0.18);
}

.store-wrap [class*='btn-']:hover span {
    color: #fff;
}

.store-wrap [class*='btn-'] span {
    position: relative;
    padding-left: 3.8rem;
    display: inline-block;
    font-size: 2.1rem;
    font-weight: 700;
    color: #000;
}

.store-wrap [class*='btn-'] span:before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 2.8rem;
    height: 3.1rem;
    background-repeat: no-repeat;
    background-position: center;
}

.store-wrap [class*='btn-'].btn-google span:before {
    background-image: url('../img/google-store.png');
    background-size: 2.6rem auto;
}

.store-wrap [class*='btn-'].btn-apple span:before {
    background-image: url('../img/apple-store.png');
    background-size: 2.8rem auto;
}

.store-wrap [class*='btn-'] ~ [class*='btn-'] {
    margin-left: 2.7rem;
}
