.container {
    width: 100%;
    height: 500px;
    background-color: #f2f8ff;
    border: 1px solid #f2f8ff;
}
.flex-item1 {
    font-size: 20px;
    color: black;
    background-color: #f2f8ff;
    display: flex;
    align-items: center;
}
.flex-item2 {
    font-size: 20px;
    color: black;
    background-color: #f2f8ff;
    display: flex;
    align-items: center;
}

.span1 {
    color: #7d93fc;
}
.adress2 {
    font-size: 20px;
}

#footer {
    clear: both;
    width: 100%;
    height: 80px;
    background-color: white;
}
#footer .company {
    float: left;
    width: 50%;
}
#footer .company p {
    font-size: 14px;
    color: black;
    padding: 32px 0 0 40px;
}
#footer .service {
    float: right;
    width: 50%;
}
#footer .service p {
    font-size: 14px;
    color: black;
    padding: 32px 40px 0 0;
    text-align: right;
}

#footer .adress {
    float: left;
    width: 50%;
}
#footer .adress p {
    font-size: 14px;
    color: black;
    padding: 32px 0 0 40px;
}
#footer .copyright {
    float: right;
    width: 50%;
}
#footer .copyright p {
    font-size: 14px;
    color: black;
    padding: 32px 40px 0 0;
    text-align: right;
}

.arrow_wrap {
    display: flex;
}
.arrow_wrap [class*='arrow_0'] {
    display: inline-block;
    width: 3.9rem;
    height: 3.9rem;
    background: url('./img/arrow.png') center no-repeat;
    background-size: 3.9rem auto;
}

[class*='arrow_wrap'] .arrow_02 {
    -webkit-animation: bu01_01 2s 0.5s infinite cubic-bezier(1, -0.015, 0.155, 0.995) alternate;
    animation: bu01_01 2s 0.5s infinite cubic-bezier(1, -0.015, 0.155, 0.995) alternate;
}

@-webkit-keyframes bu01_01 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(-180deg);
        transform: rotate(-180deg);
    }
}

@keyframes bu01_01 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(-180deg);
        transform: rotate(-180deg);
    }
}

[class*='bu-wrap0'].bu-wrap01 .bu02 {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

[class*='bu-wrap0'].bu-wrap01 .bu03 {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
    -webkit-animation: bu01_03 2s 1s infinite cubic-bezier(1, -0.015, 0.155, 0.995) alternate;
    animation: bu01_03 2s 1s infinite cubic-bezier(1, -0.015, 0.155, 0.995) alternate;
}

@-webkit-keyframes bu01_03 {
    0% {
        -webkit-transform: rotate(-180deg);
        transform: rotate(-180deg);
    }

    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

@keyframes bu01_03 {
    0% {
        -webkit-transform: rotate(-180deg);
        transform: rotate(-180deg);
    }

    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

[class*='bu-wrap0'].bu-wrap01 .bu04 {
    -webkit-transform: rotate(33deg);
    transform: rotate(33deg);
}

[class*='bu-wrap0'].bu-wrap02 .bu01 {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

[class*='bu-wrap0'].bu-wrap02 .bu02 {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-animation: bu02_01 2s 0.5s infinite cubic-bezier(1, -0.015, 0.155, 0.995) alternate;
    animation: bu02_01 2s 0.5s infinite cubic-bezier(1, -0.015, 0.155, 0.995) alternate;
}

@-webkit-keyframes bu02_01 {
    0% {
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }

    100% {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}

@keyframes bu02_01 {
    0% {
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }

    100% {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}

[class*='bu-wrap0'].bu-wrap02 .bu03 {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

[class*='bu-wrap0'].bu-wrap02 .bu04 {
    -webkit-transform: rotate(33deg);
    transform: rotate(33deg);
    -webkit-animation: bu02_04 2s 1s infinite cubic-bezier(1, -0.015, 0.155, 0.995) alternate;
    animation: bu02_04 2s 1s infinite cubic-bezier(1, -0.015, 0.155, 0.995) alternate;
}

@-webkit-keyframes bu02_04 {
    0% {
        -webkit-transform: rotate(33deg);
        transform: rotate(33deg);
    }

    100% {
        -webkit-transform: rotate(-33deg);
        transform: rotate(-33deg);
    }
}

@keyframes bu02_04 {
    0% {
        -webkit-transform: rotate(33deg);
        transform: rotate(33deg);
    }

    100% {
        -webkit-transform: rotate(-33deg);
        transform: rotate(-33deg);
    }
}
.arrow_03 {
    transform: rotate(180deg);
}

.arrow_wrap .arrow_04 {
    -webkit-transform: rotate(33deg);
    transform: rotate(33deg);
    -webkit-animation: bu02_04 2s 1s infinite cubic-bezier(1, -0.015, 0.155, 0.995) alternate;
    animation: bu02_04 2s 1s infinite cubic-bezier(1, -0.015, 0.155, 0.995) alternate;
}
