.container {
    display: flex;
    justify-content: space-around;
    /* width: 80%; */
    background-color: #f2f8ff;
    padding: 80px;
}
.flex-item1 {
    font-size: 34px;
    letter-spacing: -1px;
}
.flex-item2 {
    font-size: 34px;
    letter-spacing: -1px;
}
.item_adress {
    font-size: 30px;
    text-decoration: underline;
    text-decoration-color: black;
}
.footer {
    margin: 0vh 14vh;
    position: fixed;
    width: 80%;
    bottom: 15vh;
}

.footer-wrap1 {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
}
.footer-wrap1 .company {
    float: left;
    width: 50%;
}
.footer-wrap1 .company p {
    font-size: 14px;
    color: black;
    padding: 32px 0 0 40px;
}
.footer-wrap1 .service {
    /* float: right; */
    width: 50%;
}
.footer-wrap1 .service p {
    font-size: 14px;
    color: black;
    padding: 32px 40px 0 0;
    text-align: right;
}
.footer-wrap2 {
    display: flex;
}
.footer-wrap2 .adress {
    float: left;
    width: 50%;
}
.footer-wrap2 .adress p {
    font-size: 14px;
    color: black;
    padding: 32px 0 0 40px;
}

.footer-wrap2 .copyright {
    /* float: right; */
    width: 50%;
}

.footer-wrap2 .copyright p {
    font-size: 14px;
    color: black;
    padding: 32px 40px 0 0;
    text-align: right;
}

.arrow_wrap {
    display: flex;
}
.arrow_wrap [class*='arrow_0'] {
    display: inline-block;
    width: 3.9rem;
    height: 3.9rem;
    background: url('./img/arrow.png') center no-repeat;
    background-size: 1.9rem auto;
}

.arrow_wrap01 .arrow_01 {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

.arrow_wrap02 .arrow_01 {
    -webkit-animation: bu01_01 2s 0.5s infinite cubic-bezier(1, -0.015, 0.155, 0.995) alternate;
    animation: bu01_01 2s 0.5s infinite cubic-bezier(1, -0.015, 0.155, 0.995) alternate;
}
.arrow_wrap01 .arrow_02 {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.arrow_wrap02 .arrow_02 {
    -webkit-animation: bu01_01 2s 0.5s infinite cubic-bezier(1, -0.015, 0.155, 0.995) alternate;
    animation: bu01_01 2s 0.5s infinite cubic-bezier(1, -0.015, 0.155, 0.995) alternate;
}

@-webkit-keyframes arrow_01 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(-180deg);
        transform: rotate(-180deg);
    }
}

@keyframes arrow_01 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(-180deg);
        transform: rotate(-180deg);
    }
}

[class*='bu-wrap0'].bu-wrap01 .bu02 {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

[class*='bu-wrap0'].bu-wrap01 .bu03 {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
    -webkit-animation: bu01_03 2s 1s infinite cubic-bezier(1, -0.015, 0.155, 0.995) alternate;
    animation: bu01_03 2s 1s infinite cubic-bezier(1, -0.015, 0.155, 0.995) alternate;
}

@-webkit-keyframes bu01_03 {
    0% {
        -webkit-transform: rotate(-180deg);
        transform: rotate(-180deg);
    }

    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

@keyframes bu01_03 {
    0% {
        -webkit-transform: rotate(-180deg);
        transform: rotate(-180deg);
    }

    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

.arrow_wrap01 .arrow_04 {
    -webkit-transform: rotate(33deg);
    transform: rotate(33deg);
}

[class*='bu-wrap0'].bu-wrap02 .bu01 {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

[class*='bu-wrap0'].bu-wrap02 .bu02 {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-animation: bu02_01 2s 0.5s infinite cubic-bezier(1, -0.015, 0.155, 0.995) alternate;
    animation: bu02_01 2s 0.5s infinite cubic-bezier(1, -0.015, 0.155, 0.995) alternate;
}

@-webkit-keyframes bu02_01 {
    0% {
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }

    100% {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}

@keyframes bu02_01 {
    0% {
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }

    100% {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}

[class*='bu-wrap0'].bu-wrap02 .bu03 {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

[class*='bu-wrap0'].bu-wrap02 .bu04 {
    -webkit-transform: rotate(33deg);
    transform: rotate(33deg);
    -webkit-animation: bu02_04 2s 1s infinite cubic-bezier(1, -0.015, 0.155, 0.995) alternate;
    animation: bu02_04 2s 1s infinite cubic-bezier(1, -0.015, 0.155, 0.995) alternate;
}

@-webkit-keyframes bu02_04 {
    0% {
        -webkit-transform: rotate(33deg);
        transform: rotate(33deg);
    }

    100% {
        -webkit-transform: rotate(-33deg);
        transform: rotate(-33deg);
    }
}

@keyframes bu02_04 {
    0% {
        -webkit-transform: rotate(33deg);
        transform: rotate(33deg);
    }

    100% {
        -webkit-transform: rotate(-33deg);
        transform: rotate(-33deg);
    }
}
.arrow_03 {
    transform: rotate(180deg);
}

.arrow_wrap02 .arrow_04 {
    -webkit-transform: rotate(33deg);
    transform: rotate(33deg);
    -webkit-animation: bu02_04 2s 1s infinite cubic-bezier(1, -0.015, 0.155, 0.995) alternate;
    animation: bu02_04 2s 1s infinite cubic-bezier(1, -0.015, 0.155, 0.995) alternate;
}
