container {
    display: flex;
    justify-content: space-between;
}
.size1 {
    font-size: 20px;
}
.top_footer {
    display: flex;
    width: 100%;
    justify-content: space-around;
    background-color: #f4fcfc;
}
.item {
    /* width: 400px; */
    /* height: 200px; */
    /* padding: 70px; */
    /* margin: 150px; */
    text-align: center;
    border-radius: 5%;
    /* background-color: #f4fcfc; */
}
.item2 {
    /* width: 400px; */
    /* height: 200px; */
    /* padding: 70px; */
    /* margin: 150px; */
    text-align: center;
    border-radius: 5%;
}
span {
    color: #8e9fe3;
}

.line1 {
    text-decoration: underline;
    text-decoration-color: black;
}
.line2 {
    text-decoration: underline;
    text-decoration-color: black;
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    background-color: #f4fcfc;
    background-size: cover;
    background-position: center;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}
body {
    background-color: white;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}

main {
    width: 100%;
}
footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    height: auto;
    width: 100vw;
    font-family: 'Open Sans';
    padding-top: 30px;
    color: black;
}
.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footert-content h5 {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 30px;
    font-size: 15px;
}
.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li {
    margin: 0 10px;
}
.socials a {
    text-decoration: none;
    color: black;
}
.socials a i {
    font-size: 1.1rem;
    transform: color 0.4s ease;
}
.socials a:hover .fa-facebook {
    color: #405c94;
}
.socials a:hover .fa-twitter {
    color: #2094ec;
}
.socials a:hover .fa-instagram {
    color: #fc5da4;
}
.socials a:hover .fa-youtube {
    color: #f60000;
}
.socials a:hover .fa-linkedin-square {
    color: #1064bc;
}
.footer-bottom {
    background: white;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p {
    font-size: 15px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span {
    text-transform: uppercase;
    opacity: 0.4;
    font-weight: 200px;
}
.footer .logo1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}
